body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(img7.jpg);
    background-size: cover;

}
.box{
    width:300px;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity: 0.8;
    background:rgb(0, 0, 0);
    text-align: center;
}
.box1{
  width:300px;
  padding:30px;
  position:absolute;
  top:76%;
  left:50%;
  transform:translate(-50%,-50%);
  
  background:rgb(0, 0, 0);
  text-align: center;
}
.box h1{
    color:rgb(111, 231, 197);
    text-transform: uppercase;
    font-weight: 700;
    
}
.box input[type="text"],.box input[type="password"],.box input[type="number"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #1175d8;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color:  #56e496;

}
.box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #eb6772;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
        cursor: pointer;
}

.box input[type="submit"]:hover
{
    background: #eb6772;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    transition-duration: 1s;
    cursor: pointer;
    
  }
  .button3 {
    background-color: rgb(15, 1, 1); 
    color: rgb(255, 255, 255); 
    border: 2px solid #0c0c0c;
  }
  
  .button3:hover {
    background-color: #535150;
    color: white;
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .shape {border-radius: 50px;}
.h1 {
  position: absolute;
  left: 72px;
  top: 15px;
  
}
.h2 {
  position: absolute;
  left: 499px;
  top: 15px;
  
}
.h3 {
  position: absolute;
  left: 310px;
  top: 15px;
}
.h4 {
  position: absolute;
  left: 200px;
  top: 15px;
}
.h5 {
  position: absolute;
  left: 1325px;
  top: 15px;
}

.h6 {
  position: absolute;
  left: 1000px;
  width:300px;
  height:25px;
  top: 12px;
}
  .shape {border-radius: 12px;}

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .p1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
  }
  .h5 {
    position: absolute;
    left: 1325px;
    top: 15px;
  }
  .topnav {
    height: 70px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
    
  background-color: rgb(69, 15, 196);
  color: rgb(207, 252, 7);
}
